@use "../../../../assets/colors/colors";
@import "../../../../assets/fonts/typography_regular";
@import "../../../../assets/fonts/typography_medium";

.wrapper {
  &.expanded {
    height: calc(100vh - 57px);
    width: 100vw;
    position: fixed;
    top: 57px;
    left: 0;
    transition: opacity 0.5s;
    z-index: 10;
    background: colors.$grayscale-gray8;
  }

  .container {
    height: 562px;
    width: 744px;
    border-radius: 8px;

    &.expanded {
      height: calc(100vh - 57px);
      width: 1128px;
      background: colors.$grayscale-white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 0;
    }

    h1 {
      height: 29px;
      position: absolute;
      top: 16px;
      left: 24px;
      color: colors.$grayscale-gray1;
      margin: 0;

      &.title {
        font-size: 20px;

        &.expanded {
          display: none;
        }
      }
    }

    button.expand {
      position: absolute;
      top: 22px;
      left: 679px;
      width: 13px;
      height: 13px;

      svg {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    button.cancel {
      position: absolute;
      top: 16px;
      right: 16px;
      height: 24px;
      width: 24px;

      svg {
        position: absolute;
        top: 0;
        left: 0;

        path {
          fill: colors.$grayscale-gray2;
        }
      }
    }

    .cancelExpanded {
      width: 98px;
      height: 48px;
      position: absolute;
      bottom: 14px;
      right: 249px;
      background: #f37462;
      border-radius: 4px;

      span {
        color: colors.$grayscale-white;
      }
    }

    form {
      .boardWrapper {
        position: absolute;
        top: 72px;
        left: 24px;

        .boardHeader {
          .boardId {
            color: colors.$grayscale-gray3;
            display: flex;
          }
        }

        .boardList {
          position: absolute;
          top: 29px;
          width: 162px;
          height: 219px;
          z-index: 11;
          background: colors.$grayscale-white;
          border: 1px solid colors.$grayscale-gray6;
          border-radius: 5px;

          li {
            display: flex;
            justify-content: space-between;
            margin: 9px 0 20px 15px;

            button {
              color: colors.$grayscale-gray3;
            }

            svg path {
              fill: colors.$purple-core;
            }
          }
        }

        &.expanded {
          top: 32px;
          left: 24px;
          width: 96px;
          height: 23px;
        }
      }

      input.title {
        height: 29px;
        width: 708px;
        position: absolute;
        top: 103px;
        left: 22px;
        border: none;

        &::placeholder {
          color: colors.$grayscale-gray5;
        }

        &.expanded {
          height: 30px;
          top: 71px;
          left: 24px;
          font-size: 32px;
          line-height: 28.8px;
          padding: 0;
        }
      }

      textarea.content {
        height: 128px;
        width: 708px;
        position: absolute;
        top: 149px;
        left: 22px;
        border: none;

        &::placeholder {
          color: colors.$grayscale-gray5;
        }

        &.expanded {
          width: 1086px;
          top: 132px;
          left: 21px;
          font-size: 16px;
          line-height: 22.4px;
          padding: 0;
        }
      }

      .categoryOptions {
        .label {
          position: absolute;
          bottom: 241px;
          left: 22px;
          color: colors.$grayscale-gray3;

          &.expanded {
            bottom: 249px;
            left: 28px;
          }
        }

        .selectedCategory {
          height: 26px;
          min-width: 65px;
          position: absolute;
          bottom: 241px;
          left: 66px;

          &.expanded {
            bottom: 249px;
          }

          .categoryName {
            display: inline-block;
            vertical-align: top;
            color: colors.$blue-core;
          }

          button.deleteCategory {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: top;
            position: relative;

            svg {
              position: absolute;
              top: 0;
              left: 0;

              path {
                fill: colors.$blue-core;
              }
            }
          }
        }

        .categoryList {
          input {
            display: none;
          }

          label {
            -webkit-appearance: none;
            height: 25.29px;
            position: absolute;
            bottom: 240.71px;
            border-radius: 15px;
            padding: 2px 4px 0 8px;
            background: colors.$purple-light3;
            color: colors.$purple-light1;
            cursor: pointer;

            &.expanded {
              bottom: 249px;
              font-size: 16px;
              font-weight: 500;
              line-height: 22.4px;
              padding: 2px 0 0 8px;
              bottom: 249px;
            }

            &.develop {
              width: 48px;
              left: 64px;

              &.expanded {
                width: 56px;
                left: 70px;
              }
            }

            &.dataAnalysis {
              width: 85px;
              left: 117.83px;

              &.expanded {
                width: 101px;
                left: 134px;
              }
            }

            &.design {
              width: 60px;
              left: 208.17px;

              &.expanded {
                width: 72px;
                left: 243px;
              }
            }

            &.marketing {
              width: 90px;
              left: 274.17px;

              &.expanded {
                width: 104px;
                left: 323px;
              }
            }

            &.extra {
              width: 48px;
              left: 369.21px;

              &.expanded {
                width: 56px;
                left: 435px;
              }
            }
          }
        }
      }

      .addPhotos {
        width: 700px;

        .label {
          position: absolute;
          bottom: 202px;
          left: 22px;
          color: colors.$grayscale-gray3;

          &.expanded {
            left: 26px;
            bottom: 209px;
          }
        }

        .addBox {
          width: 109px;
          height: 109px;
          display: inline-block;
          position: absolute;
          bottom: 85px;
          left: 22px;
          border: 1px dashed colors.$purple-light2;
          border-radius: 8px;
          cursor: pointer;
          margin-top: 363px;

          svg {
            position: absolute;
            top: 42.5px;
            left: 42.5px;

            path {
              stroke: colors.$purple-light1;
            }
          }

          &.expanded {
            width: 120px;
            height: 113px;
            left: 25px;
            bottom: 88px;

            svg {
              top: 45px;
              left: 48px;
            }
          }
        }

        .photoInput {
          display: none;
        }

        .imageList {
          width: 109px;
          height: 109px;
          overflow: hidden;
          position: absolute;
          bottom: 85px;
          left: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: auto;
            height: 109px;
          }

          &.expanded {
            width: 120px;
            height: 113px;
            position: absolute;
            bottom: 88px;
            left: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: auto;
              height: 113px;
            }
          }
        }
      }

      button.bottom {
        height: 45px;
        width: 92px;
        border-radius: 4px;
        color: colors.$grayscale-white;
        position: absolute;
        bottom: 17px;
        font-size: 17px;

        &.expanded {
          height: 48px;
          width: 98px;
          font-size: 16px;
          bottom: 14px;
        }

        &.save {
          background: colors.$grayscale-gray5;
          left: 531px;

          &.expanded {
            left: 895px;
          }
        }

        &.submit {
          background: colors.$purple-core;
          left: 639px;

          &.expanded {
            left: 1009px;
          }
        }
      }
    }

    hr {
      height: 0;
      width: 708.5px;
      border: none;
      border-top: 1px solid;
      margin: 0;
      position: absolute;
      left: 22px;
      color: colors.$grayscale-gray7;

      &.title {
        width: 752px;
        top: 58px;
        left: 0;

        &.expanded {
          top: 116px;
        }
      }

      &.contentTop {
        top: 140px;

        &.expanded {
          display: none;
        }
      }

      &.contentBottom {
        bottom: 272px;

        &.expanded {
          bottom: 284px;
        }
      }

      &.categoryPhoto {
        bottom: 233px;

        &.expanded {
          bottom: 240px;
        }
      }

      &.bottom {
        bottom: 77px;

        &.expanded {
          bottom: 72px;
        }
      }

      &.expanded {
        width: 1085px;
        position: absolute;
        left: 21px;
      }
    }
  }
}
