@import "../../../../../assets/colors/colors";

.container {
  width: 456px;
  height: 56px;
  background: $grayscale-white;
  vertical-align: top;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
}
