@import "../../../../../assets/fonts/typography_medium";
@import "../../../../../assets/colors/colors";
.container {
  display: grid;
  align-items: center;

  button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: $grayscale-gray4;

    &#recommend {
      position: absolute;
      left: 653px;
    }

    &#time {
      position: absolute;
      left: 711px;
    }

    &.selected {
      color: $grayscale-gray2;
    }
  }
}
