@use "../../../../../assets/colors/colors";
@import "../../../../../assets/fonts/typography_medium";
@import "../../../../../assets/fonts/typography_regular";

.container {
  margin-left: 24px;

  .keyword {
    font-weight: 500;
  }

  .search {
    color: colors.$grayscale-gray1;
  }

  .searchCount {
    color: colors.$grayscale-gray4;
    margin-left: 16px;
  }
}
