@import "../../../assets/fonts/typography_regular";

.container {
  width: 176px;
  height: 116px;
  position: absolute;
  top: 60px;
  left: 792px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  background: #ffffff;

  .modify {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .delete {
    position: absolute;
    top: 66px;
    left: 24px;
  }
}
