@import "../../../assets/colors/colors";
@import "../../../assets/fonts/typography_regular";
@import "../../../assets/fonts/typography_medium";

.container {
  width: 456px;
  height: 56px;
  background: $grayscale-white;
  position: relative;
  margin-left: 287px;

  .boardName {
    height: 29px;
    position: absolute;
    top: 13px;
    left: 24px;
    color: $grayscale-gray1;
  }

  .tag {
    height: 20px;
    position: absolute;
    right: 28px;
    top: 17px;
    color: $purple-core;
    font-weight: 500;
  }
}
