$grayscale-gray1: #1d1d1d;
$grayscale-gray2: #4e4e4e;
$grayscale-gray3: #767676;
$grayscale-gray4: #a0a0a0;
$grayscale-gray5: #c5c5c5;
$grayscale-gray6: #e1e1e1;
$grayscale-gray7: #f2f2f2;
$grayscale-gray8: #fafafa;
$grayscale-white: #ffffff;

$purple-dark1: #5038e3;
$purple-core: #6951ff;
$purple-light1: #9f8fff;
$purple-light2: #e5e1ff;
$purple-light3: #f9f8ff;

$green-core: #75d973;

$orange-core: #f3b962;

$red-core: #f37462;

$blue-core: #5483f1;

$pink-core: #e874f2;

$fuchsia-core: #ff00ff;
