@use "../../../assets/colors/colors";

.moreModal {
  width: 176px;
  position: absolute;
  top: 40px;
  left: 807px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background: colors.$grayscale-white;
  padding: 24px;
  padding-bottom: 8px;
  z-index: 2;

  ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
  }
}
