@import "../../assets/colors/colors";

.writeButton {
  height: 56px;
  width: 56px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: $purple-core;
  position: absolute;
  left: 785px;

  &.detailPage {
    left: 1064px;
    top: 0;
  }

  svg {
    position: absolute;
    left: 17.33px;
    top: 17.28px;

    path {
      fill: $grayscale-white;
    }
  }
}
