@use "../../assets/colors/colors";
@use "../../assets/fonts/typography_medium";
@use "../../assets/fonts/typography_regular";

.container {
  width: 1133px;
  margin: auto;
  margin-top: 35px;

  .contentContainer {
    margin-left: 293px;
    width: 840px;
    min-height: 452px;
    background: colors.$grayscale-white;
    padding: 33px;
    position: relative;

    .imageWrapper {
      width: 226px;
      height: 226px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 226px;
      }
    }

    .nickname {
      margin-top: 28px;
    }

    .introduction {
      margin-top: 10px;
      width: 303px;
      word-break: break-all;
    }

    .github {
      position: absolute;
      top: 283px;
      left: 608px;
    }

    .blogUrl {
      position: absolute;
      top: 283px;
      right: 51px;
    }

    .interestList {
      position: absolute;
      top: 332px;
      right: 152px;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, minmax(0, auto));

      li {
        width: fit-content;
        height: 28px;
        border-radius: 15px;
        padding: 4px 10px;
        color: colors.$grayscale-gray4;
        border: 1px solid colors.$grayscale-gray6;
      }
    }
  }
}
