@use "../../../../assets/colors/colors";
@import "../../../../assets/fonts/typography_regular";

.container {
  width: 839px;
  min-height: 85px;
  position: relative;

  .userProfile {
    height: 20px;
    width: 527px;

    .profileImage {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 8px;
      left: 12px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .userNickname {
      height: 20px;
      position: absolute;
      left: 40px;
      top: 8px;
      color: colors.$grayscale-gray3;
    }

    .more {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 8px;
      right: 12px;
      cursor: pointer;
    }
  }

  .content {
    .comment {
      color: colors.$grayscale-gray2;
      position: absolute;
      top: 38px;
      left: 40px;
      right: 40px;
      white-space: pre-line;
      word-break: break-all;
    }

    .like {
      color: colors.$grayscale-gray5;
      height: 18px;
      position: absolute;
      bottom: 4px;
      left: 40px;

      svg {
        height: 18px;
        width: 18px;
        display: inline-block;
        cursor: pointer;
      }

      div {
        height: 18px;
        margin-left: 4px;
        display: inline-grid;
        vertical-align: top;
        align-items: center;
      }

      &.isLiked svg path {
        fill: colors.$red-core;
      }
    }
  }

  .moreModal {
    height: 158px;
    width: 176px;
    position: absolute;
    top: 40px;
    left: 807px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #0000001a;
    background: colors.$grayscale-white;
    padding: 24px;
    z-index: 2;

    ul li {
      font-family: Noto Sans KR;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 16px;
    }
  }
}
