@import "../../../../assets/colors/colors";
@import "../../../../assets/fonts/typography_medium";
@import "../../../../assets/fonts/typography_regular";

.container {
  width: 839px;
  height: 151px;
  margin: 12px 0 0 288px;
  background: $grayscale-white;
  position: relative;

  textarea {
    width: 807px;
    height: 80px;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 10px 8px;
    color: #666666;
    overflow: auto;
    resize: none;
    border: none;

    &::placeholder {
      color: $grayscale-gray5;
    }
  }

  .addPhoto {
    position: absolute;
    top: 112px;
    left: 16px;

    svg {
      path {
        fill: $grayscale-gray3;
      }
    }
  }

  .submit {
    height: 26px;
    width: 30px;
    position: absolute;
    top: 108px;
    right: 16px;
    color: $purple-core;
  }

  .mentionContainer {
    width: 232px;
    max-height: 238px;
    overflow: auto;
    position: absolute;
    bottom: 150px;
    background: $grayscale-white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #afafaf40;

    ul {
      padding-top: 1px;

      .userList {
        height: 53px;
        position: relative;
        border-bottom: 0.5px solid $grayscale-gray7;
        cursor: pointer;

        .profileImage {
          position: absolute;
          top: 6px;
          left: 14px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 41px;
            height: 41px;
          }
        }

        .nickname {
          position: absolute;
          top: 16px;
          left: 69px;
          color: $grayscale-gray1;
        }
      }
    }
  }
}
