@import "../../../assets/colors/colors";
@import "../../../assets/fonts/typography_medium";

.homeButton {
  list-style: none;
  width: 24px;
  height: 42px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 792px;

  button {
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;

    svg {
      height: 24px;
      width: 24px;

      path {
        fill: $purple-core;
      }
    }

    div {
      color: $purple-core;
      margin: auto;
    }
  }
}
