@use "../../../assets/colors/colors";
@import "../../../assets/fonts/typography_medium";

.homeButton {
  list-style: none;
  width: 24px;
  height: 42px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 792px;

  button {
    width: 100%;
    height: 100%;

    svg {
      height: 24px;
      width: 24px;

      path {
        fill: colors.$grayscale-gray4;
      }
    }

    div {
      color: colors.$grayscale-gray4;
      margin: auto;
    }

    &.isAtHome {
      path {
        fill: colors.$purple-core;
      }
      div {
        color: colors.$purple-core;
      }
    }
  }
}
