@use "../../../assets/colors/colors";
@import "../../../assets/fonts/typography_medium";

.messageButton {
  list-style: none;
  position: absolute;
  left: 888px;
  width: 28px;
  height: 42px;
  text-align: center;
  cursor: pointer;
  display: inline-block;

  button {
    width: 100%;
    height: 100%;

    svg {
      height: 24px;
      width: 24px;
    }

    div {
      color: colors.$grayscale-gray4;
      margin: auto;
    }

    &.isAtMessages {
      path {
        fill: colors.$purple-core;
      }
      div {
        color: colors.$purple-core;
      }
    }
  }
}
