@use "../assets/colors/colors";
@import "../assets/fonts/typography_medium";
@import "../assets/fonts/typography_regular";

.container {
  width: 839px;
  height: 151px;
  margin: 12px 0 20px 288px;
  background: colors.$grayscale-white;
  position: relative;

  .commentContainer {
    textarea,
    .mockTextarea {
      width: 807px;
      min-height: 80px;
      position: absolute;
      top: 16px;
      left: 16px;
      padding: 10px 8px;
      color: #666666;
      word-wrap: break-word;
      overflow-y: auto;
      white-space: pre-line;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    textarea {
      -webkit-text-fill-color: transparent;
      z-index: 2;
      border: none;
      display: block;
      background: transparent;

      &.showPlaceholder {
        -webkit-text-fill-color: colors.$grayscale-gray5;
      }
    }
  }

  .addPhoto {
    position: absolute;
    bottom: 14px;
    left: 16px;

    svg {
      path {
        fill: colors.$grayscale-gray3;
      }
    }

    &.disabled {
      cursor: default;
    }
  }

  .submit {
    height: 26px;
    width: 30px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: colors.$purple-core;

    &.disabled {
      color: colors.$grayscale-gray5;
      cursor: default;
    }
  }

  .photoInput {
    display: none;
  }

  .photosDisplay {
    position: absolute;
    width: 840px;
    height: 96px;
    background: #1d1d1d40;

    .imageList {
      position: relative;
      width: 81.13px;
      height: 80px;
      overflow: hidden;
      display: inline-grid;
      justify-content: center;
      margin-left: 7.13px;
      margin-right: 7.74px;
      margin-top: 8px;
      background: colors.$grayscale-white;

      img {
        width: auto;
        height: 80px;
      }

      .deleteButton {
        position: absolute;
        top: 2px;
        left: 60.87px;
        width: 18px;
        height: 18px;
        z-index: 10;
      }
    }
  }

  .mentionContainer {
    width: 232px;
    max-height: 238px;
    overflow: auto;
    position: absolute;
    top: -10px;
    background: colors.$grayscale-white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #afafaf40;
    z-index: 4;

    ul {
      padding-top: 1px;

      .userList {
        height: 53px;
        position: relative;
        border-bottom: 0.5px solid colors.$grayscale-gray7;
        cursor: pointer;

        .profileImage {
          position: absolute;
          top: 5px;
          left: 30px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 41px;
            height: 41px;
          }
        }

        .nickname {
          position: absolute;
          top: 13px;
          left: 85px;
          color: colors.$grayscale-gray1;
        }
      }
    }
  }
}
