@import "../assets/colors/colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $grayscale-gray8;
  width: 100vw;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  display: block;
}

textarea,
input {
  &:focus {
    outline: none;
  }

  resize: none;
}

.mentions {
  color: #9f8fff;
}

.customPlaceholder {
  color: $grayscale-gray5;
}
