@import "../assets/colors/colors";

.container {
  width: 100vw;
  height: 56px;
  background: $grayscale-white;

  .main {
    width: 1128px;
    height: 100%;
    padding-top: 8px;
    position: relative;
    margin: auto;

    .logo {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 16px;
      background: url("../public/favicon.svg");
      display: inline-block;
    }
  }
}
