@use "../assets/colors/colors";

.engagement {
  height: 20px;
  min-width: 130px;

  .countContainer {
    height: 20px;
    box-sizing: border-box;

    svg {
      height: 100%;
      width: 20px;
      vertical-align: top;
      margin-left: 12px;
      cursor: pointer;
    }

    span {
      color: colors.$grayscale-gray5;
      display: inline-block;
      min-width: 15px;
      height: 20px;
      vertical-align: top;
      margin-left: 4px;
      text-align: center;
    }

    &.likes svg {
      cursor: pointer;
      margin-left: 0px;
    }
  }
}
