@use "../assets/colors/colors";
@import "../assets/fonts/typography_medium";
@import "../assets/fonts/typography_regular";

.container {
  width: 1128px;
  margin: auto;
  margin-top: 32px;
  position: relative;
  display: flex;

  .postMain {
    width: 840px;
    background: colors.$grayscale-white;
    margin-top: 24px;
    margin-left: 24px;
    padding: 24px 24px 12px;
    position: relative;
    border-radius: 8px;

    .title {
      margin: 0;
      font-weight: 500;
      min-height: 39px;
      color: colors.$grayscale-gray1;
    }

    hr {
      width: 792px;
      height: 0;
      border: none;
      border-top: 1px solid;
      margin: 0;
      margin-top: 8px;
      color: colors.$grayscale-gray7;
    }

    .userInfo {
      margin-top: 12px;
      height: 36px;

      .profileImage {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &.pointer {
          cursor: pointer;
        }

        img {
          object-fit: cover;
          min-width: 36px;
          min-height: 36px;
        }
      }

      .userNickname {
        height: 26px;
        margin: 5px 0 5px 12px;
        font-weight: 500;
        display: inline-block;
        vertical-align: top;
        color: colors.$grayscale-gray2;

        &.pointer {
          cursor: pointer;
        }
      }
    }

    .content {
      width: 796px;
      margin-top: 12px;
      padding: 12px 0;

      .description {
        width: 100%;
        color: colors.$grayscale-gray3;
        white-space: pre-line;
      }

      &.loadingContent {
        text-align: center;
      }
    }

    .imageList {
      margin-top: 12px;

      img.big {
        max-width: 792px;
        border-radius: 8px;
      }

      ul {
        display: flex;
        margin-top: 12px;

        li {
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          background: rgb(245, 245, 245);
          margin-right: 12px;
          cursor: pointer;
          overflow: hidden;
          opacity: 70%;

          img {
            height: 80px;
          }
        }
      }
    }

    .bottom {
      width: 792px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 36px;

      .createdAt {
        height: 16px;
        color: colors.$grayscale-gray4;
      }
    }

    .more {
      svg {
        position: absolute;
        top: 26px;
        left: 792px;
      }
    }
  }

  .boardContainer {
    width: 744px;
    height: 56px;
    background: colors.$grayscale-white;
    position: relative;
    margin-left: 24px;
    border-radius: 4px;

    .boardName {
      height: 29px;
      position: absolute;
      top: 13px;
      left: 24px;
      color: colors.$grayscale-gray1;
    }

    .tag {
      height: 20px;
      position: absolute;
      right: 28px;
      top: 17px;
      color: colors.$purple-core;
      font-weight: 500;
    }
  }

  .postModify {
    width: 176px;
    height: 116px;
    position: absolute;
    top: 60px;
    left: 792px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    background: #ffffff;

    .modify {
      position: absolute;
      top: 24px;
      left: 24px;
    }

    .delete {
      position: absolute;
      top: 66px;
      left: 24px;
    }
  }
}
