@use "../assets/colors/colors";
@import "../assets/fonts/typography_medium";
@import "../assets/fonts/typography_regular";

.container {
  width: 1128px;
  margin: auto;
  margin-top: 32px;
  display: flex;

  .writeAPostcontainer {
    height: 56px;
    display: flex;
    position: relative;
    margin-left: 24px;

    .messageContainer {
      width: 769px;
      height: 56px;
      background: colors.$grayscale-white;
      vertical-align: top;
      display: inline-grid;
      grid-auto-flow: column;
      align-items: center;
      border-radius: 4px;
    }

    .buttonContainer {
      display: grid;
      align-items: center;

      button {
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        color: colors.$grayscale-gray4;

        &#recommend {
          position: absolute;
          left: 653px;
        }

        &#time {
          position: absolute;
          left: 711px;
        }

        &.selected {
          color: colors.$grayscale-gray2;
        }
      }
    }

    .writeContainer {
      margin-left: 24px;

      .keyword {
        font-weight: 500;
      }

      .search {
        color: colors.$grayscale-gray1;
      }

      .searchCount {
        color: colors.$grayscale-gray4;
        margin-left: 16px;
      }
    }
  }
}
