@use "../assets/colors/colors";

.container {
  width: 1128px;
  height: 584px;
  margin: auto;
  margin-top: 32px;
  background: colors.$grayscale-white;
  padding: 32px 64px;

  .header {
    display: flex;
    gap: 32px;

    .imageContainer {
      width: 196px;
      height: 196px;
    }

    .summary {
      height: 116px;
      margin-top: 63px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .nickname {
        display: flex;
        gap: 15px;
        align-items: baseline;

        h1 {
          line-height: 28.8px;
          color: colors.$grayscale-gray2;
        }

        a {
          color: colors.$blue-core;
          display: inline-block;
        }
      }

      .links {
        display: flex;
        gap: 12px;
      }

      a.settingLink {
        height: 31px;
        width: 64px;
      }

      button.setting {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        padding: 5px 10px 5px 6px;
        background: colors.$purple-light3;
        font-weight: 500;
        color: colors.$purple-core;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
      }
    }
  }

  .introduction {
    margin-top: 48px;

    h2 {
      color: colors.$grayscale-gray1;
    }

    p {
      margin: 12px 4px;
      height: 90px;
      color: colors.$grayscale-gray4;
    }
  }

  .interests {
    margin-top: 24px;

    h2 {
      color: colors.$grayscale-gray1;
    }

    div {
      display: flex;
      gap: 12px;

      button {
        margin: 12px 4px;
        color: colors.$grayscale-gray4;
        padding: 4px 10px;
        border: 1px solid colors.$grayscale-gray6;
        border-radius: 15px;
        line-height: 19px;
      }
    }
  }
}
