@use "../assets/colors/colors";
@import "../assets/fonts/typography_regular";

.container {
  position: absolute;
  left: 97px;

  .searchInput {
    width: 357px;
    height: 40px;
    background: colors.$grayscale-gray7;
    border: transparent;
    border-radius: 5px;
    padding: 10px 8px;
    color: colors.$grayscale-gray2;
    vertical-align: top;

    &:focus {
      border: 1px solid colors.$purple-core;
    }
  }

  .searchInput:focus + button svg path {
    fill: colors.$purple-core;
  }

  button {
    height: 24px;
    width: 24px;
    margin: 4px 0 0 19px;

    svg {
      path {
        fill: colors.$grayscale-gray3;
      }
    }
  }
}
